* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 10px;
  /* perspective on krna hota hai */
}
.container {
  position: relative;  
  /* because it will make it nearest positioned ansector */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;

  height: 100%;
  transform-style: preserve-3d;
  /* nhi toh 2d game hoga aur jo ham banana chahte hai wo nhi bana 
  payenge */
}
.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;

  object-fit: cover;
}
.background {
  transform: translateZ(-40px) scale(6);
}
.foreground {
  transform: translateZ(-20px) scale(3);
}
h1 {
  top: 5rem;
  /*   left: 50%;
    transform: translateX(-50%); */
  position: absolute;

  font-size: 10rem;
  letter-spacing: 4px;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
section {
  background-color: rgb(45, 45, 45);
  color: white;
  padding: 5rem 0;
}
.secHeading {
  font-size: 5rem;
  padding: 0 10rem;
}

.text {
  font-size: 1.5rem;
  padding: 0 10rem;
  margin: 5rem 0;
}

.bg {
  position: relative;
  width: 100%;
  height: 500px;
  background-attachment: fixed;

  background-size: cover;
  background-position: center;
}
.desc {
  position: absolute;
  background-color: white;
  padding: 0.5rem 2.5rem;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: black;
  font-size: 3.5rem;
  font-weight: 600;
}
.bg1 {
  background-image: url(sport-1.jpg);
}
.bg2 {
  background-image: url(sport-2.jpg);
}

.bg3 {
  background-image: url(sport-3.jpg);
}
